body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 100vh;
  background-color: #23424a;
}

.navbar {
  overflow: hidden;
  background: #136c72;
}

.navbar a {
  float: left;
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #23424a;
  position: relative;
}

.dropbtn2 {
  background-color: white;
}
.dropbtn2::after {
  content: "^";
  position: absolute;
  left: 6.5rem;
  transform: rotate(90deg);
}

.dropbtn::after {
  content: "^";
  position: absolute;
  top: 0.8rem;
  left: 14.2rem;
  transform: rotate(180deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  top: 3.29rem;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  left: 10rem;
  top: 6.25rem;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content2 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #136c72;
  color: white;
}
.dropdown-content2 a:hover {
  background-color: #136c72;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown2:hover .dropdown-content2 {
  display: block;
}
